<form action="/urls" method="post">
    Enter URL: 
    <input type="text" name="long_url">
    <input type="submit" value="Submit">
 </form>

<% @urls.each do |url| %>
  <%= url.long_url %>  <%= <a href="self.url.short_url> %>
<% end %>